.grid{max-width:1080px;margin:0 auto;}
.topgrid{width:100%;}
.gridimg img {opacity:0.7;}
.gridimg img:hover{opacity:1;cursor:pointer;}

.gridimg{float:left;width:25%;}
.main{background-color:#eee;margin-bottom:80px;}
/*effects part css*/
.e1{
position:relative;top:35%;left:50%; text-align:left;
}
.background1{
	
	background:#efefef url(../images/img1.jpg) no-repeat scroll center bottom;

}
@media only screen and (max-width:1024px) and (min-width:769px)
{
.grid{max-width:810px;margin:0 auto;}
.gridimg{width:33.33%;}
	
}
@media only screen and (max-width:768px)
{
.grid{max-width:540px;margin:0 auto;}
.gridimg{width:50%;}
	
}
 