@charset "UTF-8";
@font-face {
  font-family: 'uship-icons';
  src: url("fonts/uship-icons.eot?v=9");
  src: url("fonts/uship-icons.eot?v=9#iefix") format("embedded-opentype"), url("fonts/uship-icons.woff?v=9") format("woff"), url("fonts/uship-icons.ttf?v=9") format("truetype"), url("fonts/uship-icons.svg?v=9#uship-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: 'uship-icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-top {
  display: block;
  font-size: 2em; }

.icon,
.icon-write,
.u-icon-write,
.icon-watch,
.u-icon-watch,
.icon-warning,
.u-icon-warning,
.icon-uship,
.u-icon-uship,
.icon-undo,
.u-icon-undo,
.icon-search,
.u-icon-search,
.icon-save,
.u-icon-save,
.icon-report,
.u-icon-report,
.icon-remove,
.u-icon-remove,
.icon-menu,
.u-icon-menu,
.icon-map,
.u-icon-map,
.icon-mail,
.u-icon-mail,
.icon-list,
.u-icon-list,
.icon-dashboard,
.u-icon-dashboard,
.icon-currentloc,
.u-icon-currentloc,
.icon-contacts,
.u-icon-contacts,
.icon-compass,
.u-icon-compass,
.icon-comment,
.u-icon-comment,
.icon-arrow-left,
.u-icon-arrow-left,
.icon-arrow-down,
.u-icon-arrow-down,
.icon-affiliate,
.u-icon-affiliate,
.icon-two,
.u-icon-two,
.icon-two-check,
.u-icon-two-check,
.icon-truck,
.u-icon-truck,
.icon-truck-b,
.u-icon-truck-b,
.icon-tools,
.u-icon-tools,
.icon-three,
.u-icon-three,
.icon-three-check,
.u-icon-three-check,
.icon-tag,
.u-icon-tag,
.icon-sun,
.u-icon-sun,
.icon-success,
.u-icon-success,
.icon-star,
.u-icon-star,
.icon-shipment-booked,
.u-icon-shipment-booked,
.icon-share,
.u-icon-share,
.icon-questions,
.u-icon-questions,
.icon-print,
.u-icon-print,
.icon-plus,
.u-icon-plus,
.icon-place,
.u-icon-place,
.icon-photo,
.u-icon-photo,
.icon-photo-add,
.u-icon-photo-add,
.icon-phone,
.u-icon-phone,
.icon-person,
.u-icon-person,
.icon-people,
.u-icon-people,
.icon-payments,
.u-icon-payments,
.icon-one,
.u-icon-one,
.icon-one-check,
.u-icon-one-check,
.icon-mobile,
.u-icon-mobile,
.icon-minus,
.u-icon-minus,
.icon-mic,
.u-icon-mic,
.icon-idea,
.u-icon-idea,
.icon-home,
.u-icon-home,
.icon-help,
.u-icon-help,
.icon-gears,
.u-icon-gears,
.icon-gear,
.u-icon-gear,
.icon-four,
.u-icon-four,
.icon-four-check,
.u-icon-four-check,
.icon-folder,
.u-icon-folder,
.icon-flag,
.u-icon-flag,
.icon-five,
.u-icon-five,
.icon-five-check,
.u-icon-five-check,
.icon-filer,
.u-icon-filer,
.icon-facebook,
.u-icon-facebook,
.icon-edit,
.u-icon-edit,
.icon-drop,
.u-icon-drop,
.icon-close,
.u-icon-close,
.icon-clock,
.u-icon-clock,
.icon-clipboard,
.u-icon-clipboard,
.icon-circle,
.u-icon-circle,
.icon-checkin,
.u-icon-checkin,
.icon-check,
.u-icon-check,
.icon-caret-up,
.u-icon-caret-up,
.icon-caret-right,
.u-icon-caret-right,
.icon-caret-left,
.u-icon-caret-left,
.icon-caret-down,
.u-icon-caret-down,
.icon-calendar,
.u-icon-calendar,
.icon-broker,
.u-icon-broker,
.icon-bid,
.u-icon-bid,
.icon-arrow-up,
.u-icon-arrow-up,
.icon-arrow-right,
.u-icon-arrow-right,
.icon-shipment,
.u-icon-shipment,
.icon-landline,
.u-icon-landline,
.icon-radius,
.u-icon-radius,
.icon-cq,
.u-icon-cq,
.icon-driver,
.u-icon-driver,
.icon-customers,
.u-icon-customers,
.icon-enviroment,
.u-icon-enviroment,
.icon-ltl,
.u-icon-ltl,
.icon-mobile-dual,
.u-icon-mobile-dual,
.icon-trustsafety,
.u-icon-trustsafety,
.icon-import,
.u-icon-import,
.icon-location,
.u-icon-location,
.icon-billing,
.u-icon-billing,
.icon-driveaway,
.u-icon-driveaway,
.icon-enclosed,
.u-icon-enclosed,
.icon-open,
.u-icon-open,
.icon-towaway,
.u-icon-towaway,
.u-icon {
  font-family: 'uship-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-write:before,
.u-icon-write:before {
  content: "w"; }

.icon-watch:before,
.u-icon-watch:before {
  content: "&"; }

.icon-warning:before,
.u-icon-warning:before {
  content: "#"; }

.icon-uship:before,
.u-icon-uship:before {
  content: "u"; }

.icon-undo:before,
.u-icon-undo:before {
  content: "U"; }

.icon-search:before,
.u-icon-search:before {
  content: "F"; }

.icon-save:before,
.u-icon-save:before {
  content: "S"; }

.icon-report:before,
.u-icon-report:before {
  content: "r"; }

.icon-remove:before,
.u-icon-remove:before {
  content: "R"; }

.icon-menu:before,
.u-icon-menu:before {
  content: "~"; }

.icon-map:before,
.u-icon-map:before {
  content: '"'; }

.icon-mail:before,
.u-icon-mail:before {
  content: "m"; }

.icon-list:before,
.u-icon-list:before {
  content: "l"; }

.icon-dashboard:before,
.u-icon-dashboard:before {
  content: "d"; }

.icon-currentloc:before,
.u-icon-currentloc:before {
  content: "<"; }

.icon-contacts:before,
.u-icon-contacts:before {
  content: "*"; }

.icon-compass:before,
.u-icon-compass:before {
  content: "c"; }

.icon-comment:before,
.u-icon-comment:before {
  content: "C"; }

.icon-arrow-left:before,
.u-icon-arrow-left:before {
  content: "9"; }

.icon-arrow-down:before,
.u-icon-arrow-down:before {
  content: "D"; }

.icon-affiliate:before,
.u-icon-affiliate:before {
  content: "("; }

.icon-two:before,
.u-icon-two:before {
  content: "b"; }

.icon-two-check:before,
.u-icon-two-check:before {
  content: "B"; }

.icon-truck:before,
.u-icon-truck:before {
  content: "="; }

.icon-truck-b:before,
.u-icon-truck-b:before {
  content: "T"; }

.icon-tools:before,
.u-icon-tools:before {
  content: "t"; }

.icon-three:before,
.u-icon-three:before {
  content: "g"; }

.icon-three-check:before,
.u-icon-three-check:before {
  content: "G"; }

.icon-tag:before,
.u-icon-tag:before {
  content: "q"; }

.icon-sun:before,
.u-icon-sun:before {
  content: "Q"; }

.icon-success:before,
.u-icon-success:before {
  content: ","; }

.icon-star:before,
.u-icon-star:before {
  content: "I"; }

.icon-shipment-booked:before,
.u-icon-shipment-booked:before {
  content: "^"; }

.icon-share:before,
.u-icon-share:before {
  content: "E"; }

.icon-questions:before,
.u-icon-questions:before {
  content: "!"; }

.icon-print:before,
.u-icon-print:before {
  content: "."; }

.icon-plus:before,
.u-icon-plus:before {
  content: "+"; }

.icon-place:before,
.u-icon-place:before {
  content: "h"; }

.icon-photo:before,
.u-icon-photo:before {
  content: "P"; }

.icon-photo-add:before,
.u-icon-photo-add:before {
  content: "y"; }

.icon-phone:before,
.u-icon-phone:before {
  content: ";"; }

.icon-person:before,
.u-icon-person:before {
  content: "2"; }

.icon-people:before,
.u-icon-people:before {
  content: "p"; }

.icon-payments:before,
.u-icon-payments:before {
  content: "$"; }

.icon-one:before,
.u-icon-one:before {
  content: "j"; }

.icon-one-check:before,
.u-icon-one-check:before {
  content: "J"; }

.icon-mobile:before,
.u-icon-mobile:before {
  content: "5"; }

.icon-minus:before,
.u-icon-minus:before {
  content: "-"; }

.icon-mic:before,
.u-icon-mic:before {
  content: "M"; }

.icon-idea:before,
.u-icon-idea:before {
  content: "i"; }

.icon-home:before,
.u-icon-home:before {
  content: "H"; }

.icon-help:before,
.u-icon-help:before {
  content: "?"; }

.icon-gears:before,
.u-icon-gears:before {
  content: "'"; }

.icon-gear:before,
.u-icon-gear:before {
  content: "_"; }

.icon-four:before,
.u-icon-four:before {
  content: "k"; }

.icon-four-check:before,
.u-icon-four-check:before {
  content: "K"; }

.icon-folder:before,
.u-icon-folder:before {
  content: "L"; }

.icon-flag:before,
.u-icon-flag:before {
  content: "f"; }

.icon-five:before,
.u-icon-five:before {
  content: "v"; }

.icon-five-check:before,
.u-icon-five-check:before {
  content: "V"; }

.icon-filer:before,
.u-icon-filer:before {
  content: "X"; }

.icon-facebook:before,
.u-icon-facebook:before {
  content: "6"; }

.icon-edit:before,
.u-icon-edit:before {
  content: "e"; }

.icon-drop:before,
.u-icon-drop:before {
  content: "@"; }

.icon-close:before,
.u-icon-close:before {
  content: "x"; }

.icon-clock:before,
.u-icon-clock:before {
  content: "o"; }

.icon-clipboard:before,
.u-icon-clipboard:before {
  content: "/"; }

.icon-circle:before,
.u-icon-circle:before {
  content: "3"; }

.icon-checkin:before,
.u-icon-checkin:before {
  content: "\\"; }

.icon-check:before,
.u-icon-check:before {
  content: "1"; }

.icon-caret-up:before,
.u-icon-caret-up:before {
  content: "`"; }

.icon-caret-right:before,
.u-icon-caret-right:before {
  content: "7"; }

.icon-caret-left:before,
.u-icon-caret-left:before {
  content: "8"; }

.icon-caret-down:before,
.u-icon-caret-down:before {
  content: "["; }

.icon-calendar:before,
.u-icon-calendar:before {
  content: "0"; }

.icon-broker:before,
.u-icon-broker:before {
  content: "%"; }

.icon-bid:before,
.u-icon-bid:before {
  content: ")"; }

.icon-arrow-up:before,
.u-icon-arrow-up:before {
  content: "]"; }

.icon-arrow-right:before,
.u-icon-arrow-right:before {
  content: "}"; }

.icon-shipment:before,
.u-icon-shipment:before {
  content: "s"; }

.icon-landline:before,
.u-icon-landline:before {
  content: "4"; }

.icon-radius:before,
.u-icon-radius:before {
  content: ":"; }

.icon-cq:before,
.u-icon-cq:before {
  content: "Y"; }

.icon-driver:before,
.u-icon-driver:before {
  content: ">"; }

.icon-customers:before,
.u-icon-customers:before {
  content: "W"; }

.icon-enviroment:before,
.u-icon-enviroment:before {
  content: "n"; }

.icon-ltl:before,
.u-icon-ltl:before {
  content: "a"; }

.icon-mobile-dual:before,
.u-icon-mobile-dual:before {
  content: "A"; }

.icon-trustsafety:before,
.u-icon-trustsafety:before {
  content: "{"; }

.icon-import:before,
.u-icon-import:before {
  content: "|"; }

.icon-location:before,
.u-icon-location:before {
  content: "z"; }

.icon-billing:before,
.u-icon-billing:before {
  content: "Z"; }

.icon-driveaway:before,
.u-icon-driveaway:before {
  content: "î˜"; }

.icon-enclosed:before,
.u-icon-enclosed:before {
  content: "î˜‚"; }

.icon-open:before,
.u-icon-open:before {
  content: "î˜ƒ"; }

.icon-towaway:before,
.u-icon-towaway:before {
  content: "î˜„"; }
