.adjacent.north {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important; }

.adjacent.north:not(.with-border):not(.with-top-border) {
  border-top-width: 0 !important; }

.adjacent.east {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important; }

.adjacent.east:not(.with-border):not(.with-right-border) {
  border-right-width: 0 !important; }

.adjacent.south {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important; }

.adjacent.south:not(.with-border):not(.with-bottom-border) {
  border-bottom-width: 0 !important; }

.adjacent.west {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important; }

.adjacent.west:not(.with-border):not(.with-left-border) {
  border-left-width: 0 !important; }

.transition-slide--base {
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s cubic-bezier(0, 1, 0.5, 1); }

.transition-slide-template--base {
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s cubic-bezier(0.15, 0.85, 0.6, 1); }

.transition-slide--after-toggled--tiny {
  max-height: 75px;
  transition-duration: 0.5s; }

.transition-slide--after-toggled--small {
  max-height: 200px; }

.transition-slide--after-toggled--medium {
  max-height: 500px; }

.transition-slide--after-toggled--large {
  max-height: 1000px; }

.transition-slide--after-toggled--xlarge {
  max-height: 3000px;
  transition-duration: 6s; }

html,
body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased; }

.page-wrapper {
  min-height: 100%;
  margin-bottom: -92px;
  position: relative; }

.page-header {
  width: 100%;
  min-width: 20rem;
  background-color: #666666;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #E5E5E5; }

.page-content {
  width: 100%;
  min-height: 100%;
  padding-bottom: 140px; }

.page-footer-push {
  height: 43px; }

.page-footer {
  width: 100%;
  bottom: 0;
  position: absolute; }

.page-footer-upper-sections {
  width: 100%;
  position: relative; }

.fixed {
  position: fixed;
  overflow: hidden; }

.container.and-fixedBackground {
  -webkit-backface-visibility: visible;
          backface-visibility: visible; }

footer h4 {
  font-size: 1.125rem;
  color: #737373;
  text-transform: uppercase; }

.footer {
  height: 140px;
  clear: both;
  background-color: #dddddd;
  margin-top: -2px; }

.footer-simple {
  height: 100px; }

.footer span, .footer a {
  font-size: 0.6875rem; }

.footer ul {
  list-style: none;
  margin-bottom: 0; }

.footer a {
  color: #666; }

.footer a:hover {
  text-decoration: underline; }

.ft-light-grey {
  color: #999; }

.ft-copyright {
  margin-top: 10px; }

.ft-copyright-small {
  margin-top: 28px; }

.ft-social-txt {
  opacity: 0;
  height: 50px;
  width: 50px; }

.ft-social-link {
  transition: opacity 0.25s ease;
  opacity: .5;
  cursor: pointer;
  -webkit-backface-visibility: hidden; }
  .ft-social-link:hover {
    opacity: .75; }

.ft-fb {
  width: 50px;
  background-position: 1px 0 !important;
  height: 50px;
  margin-top: 20px; }

.ft-twitter {
  width: 50px;
  background-position: -59px 0 !important;
  margin-left: 60px;
  margin-top: -50px;
  height: 50px; }

.ft-ytube {
  width: 50px;
  height: 50px;
  background-position: -116px 0 !important;
  margin-left: 120px;
  margin-top: -50px; }

.ft-lnkdin {
  width: 50px;
  height: 50px;
  background-position: -175px 0 !important;
  margin-left: 180px;
  margin-top: -50px; }

.ft-iosstore {
  width: 137px;
  height: 50px;
  background-position: -232px 0 !important;
  margin-left: 240px;
  margin-top: -50px; }

.ft-androidstore {
  width: 137px;
  height: 50px;
  background-position: -376px 0 !important;
  margin-left: 385px;
  margin-top: -50px; }

.ft-narrow {
  width: 395px; }

.ft-wide {
  width: 530px; }

.ft-badge {
  float: right;
  display: block;
  margin: 0 0 0 12px;
  height: 64px;
  text-indent: -9999em; }

.ft-bbb {
  width: 33px;
  background-position: -631px 0 !important; }

.ft-terapass {
  width: 70px;
  background-position: -560px 0 !important; }

.ft-truste {
  width: 129px;
  background-position: -432px 0 !important; }

.ft-ebay {
  width: 64px;
  background-position: -367px 0 !important; }

.ft-dandb {
  width: 64px;
  background-position: -664px 0 !important; }

.ft-logos {
  margin-top: 25px; }

@media only screen and (max-width: 767px) {
  .ft-logos {
    display: none; } }

.footer-tools-panel {
  background-color: #E5E5E5;
  width: 100%;
  padding-bottom: 140px; }

.ft-tablinks-panel {
  margin-top: -140px; }

.footer-tools {
  padding: 25px; }

.footer-tools ul {
  list-style: none;
  margin-bottom: 0.5em; }

.footer-tools a {
  font-size: 0.875rem;
  color: #737373; }

.footer-tools a:hover {
  text-decoration: underline; }

.ft-hidden {
  display: none; }

.ft-tabs {
  transition: background-color 0.25s ease;
  background-color: transparent;
  text-align: center;
  cursor: pointer; }

.ft-tabs-empty {
  background-color: #E5E5E5;
  text-align: center; }

.ft-more-text {
  font-weight: inherit;
  font-size: 0.875rem;
  color: #737373;
  padding-bottom: 15px; }

#more-links-text a {
  font-size: 0.9375rem; }

.ft-tabs:hover .footer-tabs-tabTitle,
.ft-selected .footer-tabs-tabTitle {
  background-color: #f5f5f5; }

#currentSitesDropdown {
  background-color: #EEE; }

.ft-social-link-area {
  display: block;
  height: 50px;
  width: 50px; }

.ft-social-link-area-wide {
  display: block;
  height: 50px;
  width: 137px; }

.footer-tabsContainer {
  background-color: #ECECEC; }

.footer-tabs-tabTitle {
  margin: 0;
  line-height: 2.5em;
  background-color: #E5E5E5; }

.ft-top-padded {
  margin-top: 0.8em; }

.browserWarning {
  background: white;
  border: 2px solid #aaa;
  position: fixed;
  left: 50%;
  margin-left: -300px;
  padding: 10px;
  top: 25px;
  width: 100%;
  width: 600px;
  z-index: 300; }

.browserWarning p + p {
  margin-top: 10px; }

.browserWarning-dismiss {
  float: right;
  color: #aaa;
  margin-left: 10px;
  cursor: pointer; }

.browserWarning-suggestions {
  text-align: center;
  margin-bottom: 0; }

.browserWarning-suggestion {
  display: inline-block;
  padding: 5px 7px;
  background: #f1f1f1;
  margin-left: 5px; }

.navToggle {
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  left: 10px;
  top: 7px; }

.navToggle-line {
  display: block;
  width: 32px;
  height: 4px;
  background-color: #333333;
  margin: 5px 0 0 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: all 533ms cubic-bezier(0.5, 0, 0, 1); }

.navToggle.is-active {
  -webkit-transform: translate3d(286px, 0, 0);
          transform: translate3d(286px, 0, 0); }

.navToggle.is-active .navToggle-line.and-first {
  -webkit-transform: rotate(-135deg) translate3d(0, -12.5px, 0);
          transform: rotate(-135deg) translate3d(0, -12.5px, 0); }

.navToggle.is-active .navToggle-line.and-second {
  opacity: 0; }

.navToggle.is-active .navToggle-line.and-third {
  -webkit-transform: rotate(135deg) translate3d(0, 12.5px, 0);
          transform: rotate(135deg) translate3d(0, 12.5px, 0); }

@media only screen and (min-width: 768px) {
  .navToggle {
    display: none; } }

.ie8 .navToggle {
  display: none; }

.mobileCTA {
  display: block;
  margin-top: 1.25em;
  text-align: center;
  color: #777;
  letter-spacing: .03125em; }

.mobileCTA-link {
  display: block;
  margin: auto;
  padding: .5em;
  height: 40px;
  background-repeat: no-repeat;
  background-position-y: -6px;
  transition: opacity 0.25s ease;
  opacity: .5;
  cursor: pointer;
  -webkit-backface-visibility: hidden; }

.mobileCTA-link:hover {
  opacity: .75; }

.mobileCTA-appleStore {
  width: 136px;
  height: 50px;
  background-position: -232px 0 !important; }

.mobileCTA-googlePlay {
  width: 120px;
  height: 50px;
  background-position: -377px 0 !important; }

@media only screen and (min-width: 768px) {
  .mobileCTA {
    display: none; } }

.ie8 .mobileCTA {
  display: none; }

.page-content {
  padding-top: 44px; }

.pageHeader {
  position: fixed;
  background-color: #EEEEEE;
  height: 44px;
  width: 100%;
  z-index: 200;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25); }

.pageHeader-row {
  margin: 0 auto;
  max-width: 60em;
  position: relative; }

.pageHeader-homeLink {
  opacity: 1;
  display: block;
  height: 44px;
  padding: 6px;
  margin: 0 auto;
  max-width: 64px;
  text-align: center;
  transition: opacity 333ms ease-in; }

.pageHeader-logo {
  max-height: 100%; }

#logoDiv {
  height: 32.5px;
  background: transparent url("../../images/logos/uship-logo.png") center center no-repeat;
  background-image: linear-gradient(transparent, transparent), url("../../images/logos/uship-logo.svg");
  background-size: cover; }

.siteNav {
  top: 0;
  width: 276px;
  padding-top: 44px;
  background-color: #F5F5F5;
  box-shadow: -2px 0 3px 4px rgba(0, 0, 0, 0.25); }

.content {
  transition: opacity 0.3s ease-in; }

body.is-navigationOpen .content {
  opacity: .5; }

body.is-navigationOpen .siteNav {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

body.is-navigationOpen .siteNav {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

body.is-navigationOpen .pageHeader-homeLink {
  opacity: 0;
  display: none; }

.siteNav-button {
  margin: 0 2em 1em 2em; }

.siteNav-link {
  padding: 0 1em;
  margin: 0 1em;
  font-size: 14px;
  color: #333333;
  line-height: 44px;
  border-bottom: 1px solid #E5E5E5;
  text-align: left; }

.siteNav-link:hover {
  color: #1A63A3;
  background-color: rgba(255, 255, 255, 0.4); }

.siteNav-item {
  display: block;
  -webkit-transform: translate3d(-60px, 0, 0);
          transform: translate3d(-60px, 0, 0); }

.siteNav-mobile-only {
  display: none; }

body.is-navigationOpen .siteNav-item {
  -webkit-animation: stagger 0.5s ease-in;
          animation: stagger 0.5s ease-in;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

body.is-navigationOpen .siteNav-item:nth-child(1) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s; }

body.is-navigationOpen .siteNav-item:nth-child(2) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s; }

body.is-navigationOpen .siteNav-item:nth-child(3) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s; }

body.is-navigationOpen .siteNav-item:nth-child(4) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s; }

body.is-navigationOpen .siteNav-item:nth-child(5) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }

body.is-navigationOpen .siteNav-item:nth-child(6) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s; }

body.is-navigationOpen .siteNav-item:nth-child(7) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s; }

body.is-navigationOpen .siteNav-item:nth-child(8) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s; }

body.is-navigationOpen .siteNav-item:nth-child(9) {
  -webkit-animation-delay: 0.54s;
          animation-delay: 0.54s; }

body.is-navigationOpen .siteNav-item:nth-child(10) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; }

@-webkit-keyframes stagger {
  0% {
    -webkit-transform: translate3d(-60px, 0, 0);
            transform: translate3d(-60px, 0, 0); }
  80% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes stagger {
  0% {
    -webkit-transform: translate3d(-60px, 0, 0);
            transform: translate3d(-60px, 0, 0); }
  80% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@media only screen and (min-width: 768px) {
  .page-content {
    padding-top: 64px; }
  .pageHeader {
    height: 64px; }
  .pageHeader-homeLink {
    height: 64px;
    max-width: 95px;
    margin: 0; }
  #logoDiv {
    height: 52px; }
  .siteNav-link.siteNav-item.pageheader-username {
    height: 64px;
    margin-top: -64px;
    max-width: 350px;
    margin-left: 95px;
    float: left;
    overflow: hidden;
    white-space: nowrap; }
  .siteNav {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    box-shadow: none;
    width: auto;
    margin: 0;
    padding-top: 0; }
  .siteNav-item {
    float: right;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  .siteNav-link {
    line-height: 64px;
    margin: 0;
    border-bottom: 0; }
  .siteNav-image {
    margin-right: 15px;
    height: 30px;
    width: 30px; }
  .siteNav-button {
    margin: 0.75em 1.5em; } }

@media only screen and (max-width: 767px) {
  .siteNav {
    position: fixed;
    left: 0;
    min-height: 100%;
    min-height: 100vh;
    -webkit-transform: translate3d(-276px, 0, 0);
            transform: translate3d(-276px, 0, 0);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1); }
  .siteNav-mobile-only {
    display: block;
    border-bottom: none;
    overflow: hidden;
    white-space: nowrap; }
  .siteNav-link.siteNav-item.pageheader-username {
    display: none; }
  .siteNav-image {
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    height: 30px;
    width: 30px; } }
